/* Green box on Win */
.box-wrapper.win .box-body {
    background: #2ecc71 !important;
    /* Green */
    transition: background 0.3s;
}

.box-wrapper.win .box-lid {
    background: #27ae60 !important;
    /* Darker Green for lid */
    transition: background 0.3s;
}